<div
  class="pensamento {{ pensamento.modelo }} ff-roboto-mono"
  [ngClass]="larguraPensamento()"
>
  <img
    src="../../../../assets/imgs/{{ pensamento.modelo }}.png"
    alt="Asás coloridas"
  />
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria">
    <b>{{ pensamento.autoria }}</b>
  </p>
  <div class="acoes">
    <button class="botao-favorito" (click)="atualizarFavorito()">
      <img
        src="./../../../../assets/imgs/icone-favorito-{{
          mudarIconeFavorito()
        }}.png"
        alt="Ícone favorito {{ mudarIconeFavorito() }}"
      />
    </button>
    <button
      class="botao-editar"
      routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}"
    >
      <img
        src="../../../../assets/imgs/icone-editar.png"
        alt="Ícone de editar"
      />
    </button>
    <button
      class="botao-excluir"
      routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}"
    >
      <img
        src="../../../../assets/imgs/icone-excluir.png"
        alt="Ícone de excluir"
      />
    </button>
  </div>
</div>
